%heading{
    font-family: $font-display;
    font-weight: 400;
}

.heading-1{
    @extend %heading;
    color: $color-grey-light-1;
    line-height: 1;
    font-size: 4.5rem;
}

.heading-2{
    @extend %heading;
    line-height: 1;
    font-size: 4rem;
    font-style: italic;

    &--light{color: $color-grey-light-1; }
    &--dark{color: $color-grey-dark-1; }
}

.heading-3{
    @extend %heading;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: $color-primary;
}

.heading-4{
    @extend %heading;
    font-size: 1.9rem;

    &--light{color: $color-grey-light-1; }
    &--dark{color: $color-grey-dark-1; }
}

.btn{
    background: $color-primary;
    color: #fff;
    border: none;
    border-radius: 0;
    font-size: 1.5rem;
    font-family: $font-display;
    text-transform: uppercase;
    padding: 1.8rem 3rem;
    cursor: pointer;
    transition: all .2s;

    &:hover{
        background: $color-primary-dark;
    }
}

// UTILITIES
.mb-2{ margin-bottom: 2rem; }
.mb-3{ margin-bottom: 3rem; }
.mb-4{ margin-bottom: 4rem; }